p.caption {
  color: #000000;
  margin-top: 10px;
  font-weight: bold;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
  padding-top: 10%;
}
pre code {
  white-space: inherit;
}

.summary > li:first-child {
  height: 50px;
  padding-top: 10px;
  border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
  height: 0px;
}

.book .book-summary {
  background: white;
  border-right: none;
}

.book .book-summary ul.summary li a,
.book .book-summary ul.summary li span {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 15px;
  padding-right: 15px;
  color: #2f5175;
}

.summary a:hover {
  color: #778ca5 !important;
}

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color: #778ca5 !important;
  border-left: solid 4px;
  border-color: #5699cc;
  padding-left: 11px !important;
}

li.appendix span, li.part span { /* for TOC part names */
  margin-top: 1em;
  color: color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important;
}